<div class="container">
    <img [src]="equipment.imageUrl" [alt]="equipment.name" />
    <div class="details">
        <div class="header">
            <span class="name">
                {{equipment.name}}
            </span>
            <span class="favorite {{equipment.favorite? '': 'not'}}">
                🧯️
            </span>
        </div>
        <div class="rating">
            <star-rating [value]="equipment.stars" [totalstars]="5" checkedcolor="red" uncheckedcolor="black"
                size="25px" [readonly]="true">
            </star-rating>
        </div>

        <div class="origins">
            <span *ngFor="let origin of equipment.origins">
                {{origin}}
            </span>
        </div>

        <div class="tags">
            <a *ngFor="let tag of equipment.tags" routerLink="/tag/{{tag}}">
                {{tag}}
            </a>
        </div>

        <div class="expiration-time">
            <span>
                Expiration Date <strong>{{equipment.expirationTime}}</strong> months
            </span>
        </div>

        <div class="price">
            <span>
                {{equipment.price | currency}}
            </span>
        </div>

        <button (click)="addToCart()"> Add To Cart</button>

    </div>
</div>